<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <%= image_tag("/Logo_Definitiva.png", size: "60x60") %>
    </div>
    <div class="sidebar-brand-text mx-3">Mind</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <%= link_to dashboard_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Início</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Recursos
  </div>

  <li class="nav-item">
    <%= link_to dashboard_medics_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-user-md"></i>
      <span>Médicos</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Configurações
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <%= link_to edit_dashboard_organization_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-hospital"></i>
      <span>Dados da organização</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to dashboard_organization_health_plan_expertises_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-credit-card"></i>
      <span>Planos de saúde</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to dashboard_contacts_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-phone"></i>
      <span>Contato</span>
    <% end %>
    <%= link_to dashboard_reports_path, class: 'nav-link' do %>
      <i class="fas fa-exclamation-triangle"></i>
      <span>Denúncias</span>
    <% end %>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <%= link_to destroy_organization_user_session_path, method: :delete, class: 'nav-link' do %>
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Sair</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
