<%= form_for [:dashboard, @medic] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div id="medic_expertises">
    <%= f.fields_for :medic_expertises do |medic_expertise| %>
      <%= render 'medic_expertise_fields', f: medic_expertise %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Adicionar experiência', f, :medic_expertises %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit 'Salvar', class: 'btn btn-primary btn-block' %>
    </div>
    <div class="col-6"></div>
    <div class="col text-right">
      <%= link_to 'Voltar', dashboard_medics_path %>
    </div>
  </div>
<% end %>
