<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary text-center p-2 text-white text-shadow">
        Lista de Unidades
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-1">
          <div class="row">
            <div class="col">
              <div class="media m-1 media-sm">
                <%= image_tag 'covid.png', class: 'align-self-center mr-1' %>
                <div class="media-body align-self-center">
                  Atende Pacientes COVID-19
                </div>
              </div>
            </div>
            <div class="col">
              <div class="media m-1 media-sm">
                <%= image_tag 'emergency.svg', class: 'align-self-center mr-1' %>
                <div class="media-body align-self-center">
                  Possui Pronto-Atendimento (24h)
                </div>
              </div>
            </div>
          </div>
        </li>
        <% organizations.each do |organization| %>
          <li class="list-group-item org-item p-1">
            <%= link_to '', app_organization_path(organization), class: 'stretched-link' %>
            <div class="row">
              <div class="col-1">
                <%= image_tag 'arrow.svg', class: 'svg-sm' %>
              </div>
              <div class="col-8">
                <p class="m-0"><%= organization.name %></p>
                <div class="row mt-2">
                  <div class="col-2">
                    <%= image_tag 'localization.svg', class: 'svg-sm' %>
                  </div>
                  <div class="col-10 text-sm">
                    <%= organization.address.to_s %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <%= image_tag 'health.svg', class: 'svg-sm' %>
                  </div>
                  <div class="col-10">
                    <%= organization.kind_i18n %>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col text-sm">
                    Distancia: <%= rand(1.2..5.0).round(2) %> km
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="row p-0 m-0 no-gutters">
                  <% if organization.covid_attendance? %>
                    <div class="col">
                      <%= image_tag 'covid.png', class: 'svg-sm' %>
                    </div>
                  <% end %>
                  <% if organization.has_emergency? %>
                    <div class="col">
                      <%= image_tag 'emergency.svg', class: 'svg-sm' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
